{#
/**
 * @file
 * smart-trim-readmore.html.twig
 *
 * Available variables:
 * - summary: Truncated string
 * - output: Original string
 */
#}
<div class="smart-trim-readmore-summary">
  {{ summary }}
</div>
<div class="smart-trim-readmore-output">
  {{ output }}
</div>
